<div class="form-wrapper">
	<div class="center-text">
		<p class="site-title">Hi {{user.firstName}}, and thank you for your interest!</p>
		<i class="ion-clipboard next-step-icon"></i>
		<p class="site-title">Here are the next steps:</p>
	</div>
	<div class="next-steps">
		<ul>
			<li><i class="ion-ios7-checkmark-empty"></i> We've emailed <span class="contact-next-steps">{{user.email}}</span>, giving you access to your application status page.</li>
			<li><i class="ion-ios7-checkmark-empty"></i> Select a time for a 10 minute conference call.  We will use <span class="contact-next-steps">{{user.contactPhone}}</span> to call you.</li>
			<li><i class="ion-ios7-checkmark-empty"></i> Within 24 hours from our phone call, you will recieve an approval or rejection email.</li>
			<ul>
				<li><i class="ion-ios7-unlocked-outline"></i> If approved, we will send you a link which allows access to the website.</li>
				<li><i class="ion-ios7-locked-outline"></i> If denied, we will provide an explanation with further options.</li>
			</ul>
			<li><span class="contact-next-steps">Note:</span> If any of the concact information provided above is incorrect, please edit it <a>here</a></li>
		</ul>
	</div>
</div>